<!DOCTYPE html>
<html>
  <head>
    <title>Timora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- schedules.js の読み込み -->
    <%= javascript_include_tag "schedules", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
